<div class="p-5">
    <% if @cart.empty? %>
        <h3 class="title is-3 m-0">Your cart is empty</h3>
        <%= link_to "View Our Products", products_path, class: "ml-2" %>
    <% else %>
        <%= link_to "Keep Shopping", products_path, class: "title is-3 has-text-link" %>
        <table class="table is-hoverable mt-5">
            <% subtotal = 0 %>
            <% @cart.each_pair do |key, value| %>
                <% product = Product.find(key) %>
                <% subtotal += product.price %>
                <tr>
                    <td>
                        <% if product.image.present? %>
                            <figure class="image is-64x64">
                                <%= image_tag product.image %>
                            </figure>
                        <% end %>
                    </td>
                    <td><%= product.name %></td>
                    <td><%= number_to_currency product.price.to_f / 100.0 %></td>
                    <td>Qty: <%= value %></td>
                </tr>
            <% end %>
            <tr>
                <td></td>
                <td>Your total order is </td>
                <td><%= number_to_currency subtotal.to_f / 100%></td>
                <td></td>
            </tr>
            <tr>
                <td><%= link_to "Empty Cart", cart_empty_path, class: "button is-danger" %></td>
                <td></td>
                <td></td>
                <td>
                    <%= form_with url: checkout_create_path, remote: true do %>
                        <%= hidden_field_tag(:cart, @cart) %>
                        <%= button_tag "Checkout", class: "button is-success" %>
                    <% end %>
                </td>
            </tr>
        </table>
    <% end %>
</div>