<div class="p-6">
    <h3 class="title">
        <%= user.username.titleize %>
    </h3>
    <ul>
        <li>email: <%= user.email %></li>
        <li>address: <%= user.address %></li>
        <li>active: <%= user.active.to_i %></li>
    </ul>
    <p>orders: TBD <%=%></p>
    <ul>
    <% user.orders.each do |o| %>
        <li><%= link_to o.date, o %></li>
    <% end %>
    </ul>
</div>