<h3 class="title p-3">Log in page</h3>
<%= form_with url: user_logging_path, method: :post do |form| %>

    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, class: "input" %>

    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, class: "input pb-3" %>
    <%= form.submit "Log In", class: "button is-info" %>
<% end %>
<div class="pt-5">
    <h3 class="title is-5">Don't have an account?</h3>
    <%= link_to "Sign up", new_account_path, class: "button is-primary" %>
</div>