<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "🦈Shark🦈Shack🦈", root_path, class: 'navbar-item'%>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Products
        </a>
        <div class="navbar-dropdown">
            <%= link_to "All", "/products", class: "navbar-item"%>
            <% @categories.each do |cat| %>
                <%= link_to cat.name, cat, class: "navbar-item"%>
            <% end %>
        </div>
      </div>
      <%= link_to "Account", "account", class: "navbar-item" %>
      <%= link_to "About", "about", class: "navbar-item" %>
      <div class="navbar-item">Search</div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <% if user.powerlevel > 0 %>
                <%= link_to user.username, "account", class: "button is-info" %>
                <%= link_to "Log out", "signout", class: "button is-danger" %>
            <% else %>
                <%= link_to "Sign up", "newaccount", class: "button is-light" %>
                <%= link_to "Log in", "login", class: "button is-light" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<h3 class="title is-3 p-6">This is the home page</h3>
<div class="pl-6">
    <%= link_to "Products", "products" %><br>
    <%= link_to "Account", "account" %>
</div>