<% if show_link %>
  <% if home_page %>
    <div class="colum is-one-third">
  <% else %>
    <div class="column is-one-fifth">
  <% end %>
<% else %>
  <div class="column is-10 is-offset-1">
<% end %>
  <div class="card p-1">
    <% if product.image.present? %>
      <div class="card-image">
      <% if show_link%>
        <figure class="image">
      <% else %>
        <figure class="image is-3by1">
      <% end %>
        <%= image_tag product.image %>
        </figure>
      </div>
    <% end %>
    <div class="card-content">
      <p class="title">
      <% if show_link %>
        <%= link_to product.name, product %>
      <% else %>
        <%= product.name %>
      <% end %>
      </p>
      <p>Price <%= number_to_currency product.price.to_f / 100.0 %></p>
      <p>Categories:
      <ul>
        <% product.categories.each do |c| %>
            <li><%= c.name %></li>
        <% end %>
      </ul>
      </p>
      <% unless show_link %>
        <p class="card-footer-item">
              <%= product.desc %>
        </p>
      <% end %>
    </div>
    <footer class="card-footer">
      <%= form_with url: cart_create_path, method: :post, class: "is-flex-grow-1" do %>
        <%= hidden_field_tag(:product_id, product.id) %>
        <%= hidden_field_tag(:qty, 1) %>
        <%= hidden_field_tag(:source, request.env['PATH_INFO'])%>
        <%= button_tag 'Add To Cart', class: "button is-light is-info is-fullwidth" %>
      <% end %>
    </footer>
  </div>
</div>